<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>[[#{index.titulo}]]</h2>
            <a th:href="@{/articulo/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">[[#{articulo.nuevo}]]</a>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>[[#{articulo.descripcion}]]</th>
                            <th>[[#{articulo.precio}]]</th>
                            <th>[[#{articulo.existencias}]]</th>
                            <th>[[#{articulo.activo}]]</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.actualizar}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" 
                                style="text-align: right"></td>
                            <td th:text="${articulo.existencias}" 
                                style="text-align: center"></td>
                            <td style="text-align: center"><input type="checkbox" name="activo" 
                                                                  th:checked="${articulo.activo}" disabled="true"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/articulo/eliminar/}+${articulo.idArticulo}">[[#{accion.eliminar}]]</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/articulo/modificar/}+${articulo.idArticulo}">[[#{accion.actualizar}]]</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                [[#{articulo.no_mostrar}]]
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
