<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Un Articulo</h2>
        <a th:href="@{/articulo/nuevo}">Nuevo Articulo</a>
        <div th:if="${articulos !=null and !articulos.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>descripcion</th>
                    <th>detalle</th>
                    <th>precio</th>
                    <th>existencias</th>
                    <th>activo</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="articulo : ${articulos}">
                    <td th:text="${articulo.descripcion}"></td>
                    <td th:text="${articulo.detalle}"></td>
                    <td th:text="${articulo.precio}"></td>
                    <td th:text="${articulo.existencias}"></td>                    
                    <td th:text="${articulo.activo}"></td>
                    <td><a th:href="@{/articulo/eliminar/}+${articulo.idArticulo}">Eliminar</a></td>
                    <td><a th:href="@{/articulo/modificar}+${articulo.idArticulo}">Modificar</a></td>
                </tr>
            </tbody>
        </table>
            <div th:if="${articulos == null OR articulos.empty}">
                NO TENEMOS LISTA DE CLIENTES EN BD
            </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
