<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos de Articulo</h2>
            <a th:href="@{/articulo/listado}">[[#{accion.regresar}]]</a>
            <hr>
            <form th:action="@{/articulo/guardar}"
                  method="post"
                  th:object="${articulo}">
                
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>

                <label for="categoria">[[#{articulo.categoria}]]:</label>
                <select th:field="*{idCategoria}">
                    <option th:each="categoria : ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.descripcion}">
                </select>
                <br>
                <label for="descripcion">[[#{articulo.descripcion}]]:</label>
                <input type="text" name="descripcion" th:field="*{descripcion}"/>
                <br>
                <label for="detalle">[[#{articulo.detalle}]]:</label>
                <textarea name="detalle" th:field="*{detalle}" rows="6" cols="50"/>
                <br>
                <label for="precio">[[#{articulo.precio}]]:</label>
                <input type="number" name="precio" th:field="*{precio}"/>
                <br>
                <label for="existencias">[[#{articulo.existencias}]]:</label>
                <input type="number" name="existencias" th:field="*{existencias}"/>
                <br>
                <label for="activo">[[#{articulo.activo}]]:</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <hr>
                <button type="submit" name="guardar" th:text="#{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
