<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda | TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Datos de Articulos</h2>
        <a th:href="@(/articulo/listado)">Regresar</a>
        <br>
        <form th:action="@{/articulo/guardar}"
              method="post"
              th:object="${articulo}">
            <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
            
            
            <label for="descripcion">Nombre: </label>
            <imput type="text" name="descripcion" th:field="*{descripcion}"/>
            
            <label for="detalle">Apellidos: </label>
            <imput type="text" name="detalle" th:field="*{detalle}"/>
            
            <label for="precio">correo: </label>
            <imput type="number" name="precio" th:field="*{precio}"/>
            
            <label for="existencias">telefono: </label>
            <imput type="number" name="existencias" th:field="*{existencias}"/>
            
            <label for="activo">limite de credito: </label>
            <imput type="text" name="activo" th:field="*{activo}"/>
            
            <imput type="submit" name="guardar" value="Guardar"/>
        </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
