<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Un Categoria</h2>
        <a th:href="@{/categoria/nuevo}">Nuevo Categoria</a>
        <div th:if="${categorias !=null and !categorias.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="categoria : ${categorias}">
                    <td th:text="${categoria.descripcion}"></td>
                    <td th:text="${categoria.activo}"></td>                    
                    <td><a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}">Eliminar</a></td>
                    <td><a th:href="@{/categoria/modificar}+${categoria.idCategoria}">Modificar</a></td>
                </tr>
            </tbody>
        </table>
            <div th:if="${categorias == null OR categorias.empty}">
                NO TENEMOS LISTA DE CLIENTES EN BD
            </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
