<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda | TechShop</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Datos de Categorias</h2>
        <a th:href="@(/categoria/listado)">Regresar</a>
        <br>
        <form th:action="@{/categoria/guardar}"
              method="post"
              th:object="${categoria}">
            <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
            
            
            <label for="descripcion">Descripcion: </label>
            <imput type="text" name="descripcion" th:field="*{descripcion}"/>
            
            <label for="activo">Activo: </label>
            <imput type="boolean" name="activo" th:field="*{activo}"/>
            
            
            <imput type="submit" name="guardar" value="Guardar"/>
        </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
