<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>[[#{index.titulo}]]</h2>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>[[#{articulo.descripcion}]]</th>
                            <th>[[#{articulo.precio}]]</th>
                            <th>[[#{articulo.comprar}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.descripcion}"></td>                        
                            <td th:text="${#numbers.formatDecimal(articulo.precio,3,2)}" 
                                style="text-align: right"></td>
                            <td>
                                <a th:thref="@{/carrito/agregar/} + ${articulo.idArticulo}">[[#{accion.agregar}]]</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                [[#{articulo.no_mostrar}]]
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>        
    </body>
</html>
